{% extends 'base_home_page.html' %}
{% load static %}
{% load util %}
{% block content %}

<h1>hello world</h1>
{% for key, value in data_for_accordion.items %}
{{ forloop.counter }} {{ key }}: {{ value }}<br>
{% endfor %}


{{ counter_item_accordion }}

{% comment %} {% block title %}Home Page{% endblock title %}
{% block style %}
<style>
    h2{
        text-align: center;
    }
    .slide1{
        background-image: url({% static 'pexels.jpg' %});
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slide2{
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url({% static 'sale.jpg' %});
    }
    div[class="card"]{
      margin-bottom: 1em;
      height: 300px;
      width: 151px;
      margin-right: 2em;
      padding: 0;
    }

    /* img[class="card-img-top"]{
      height: 292px;
      width: 163px;
    } */
    img[class="card-img-top"]{
      height: 100%;
      width: 100%;
    }

</style>
{% endblock style %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true" style="margin-top: 10px;">
    <div class="carousel-inner">
      <div class="carousel-item active slide1">
        <div class="container">
          <h2 style="margin: 1em;">Новинки</h2>
          <div class="row" style="margin-left: 15%;">
            {% for obj in object_list %}
            <div class="card">
              {% if obj.picture %}<img class="card-img-top" src="{{ obj.picture.url }}" alt="{{ obj.picture }}">{% else %}<i class="bi bi-camera-video-off"></i>{% endif %}
              <a href="{% url 'app_product_books:bookcard-detail' pk=obj.pk %}" class="btn btn-warning stretched-link">Подробнее</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="carousel-item slide2 text-center">
        <div style="height: 26em;">
          <a href="#" class="btn btn-danger" style="margin-top: 300px; padding-left: 2em; padding-right: 2em;">Подробнее</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 {% endcomment %}

{% endblock content %}