<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Python</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body style="align-content: center;">
        <h1>HELLO WORLD!</h1>
        <img src="{%static 'img/earth-11530975450jod29w76lc.jpg'%}" alt="">
    </body>
</html>
