{% extends 'base_admin_portal.html' %}
{% block content %}
<div class="mt-2">
    <h2 class="text-center">Книги 
        <a href="{% url 'app_product_books:bookcard-create' %}" class="btn btn-light"><i class="bi bi-plus-circle"></i>Добавить</a>
    </h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for obj in object_list %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ obj.pk }}" aria-expanded="false" aria-controls="flush-collapse{{ obj.pk }}">
                {{ obj.name }}
                <div class="btn-group-sm" style="margin-block-start: 1%;">
                    <a href="{% url 'app_product_books:bookcard-update' pk=obj.pk %}" class="btn btn-light"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'app_product_books:bookcard-delete' pk=obj.pk %}" class="btn btn-light"><i class="bi bi-x-circle"></i></a>
                </div>
                </button>
            </h2>
            <div id="flush-collapse{{ obj.pk }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ obj.pk }}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                {% if obj.picture %}<img src="{{obj.picture.url}}" class="img-thumbnail" alt="{{obj.picture}}">{% else %}<p>No photo</p>{% endif %}
                            </div>
                            <div class="col-10">
                                <p class="text-uppercase fw-bold ml-2">{{obj.name}}</p>
                                <div class="overflow-auto">{{obj.description}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <tr>
                                        <td>Авторы:</td>
                                        <td>{% for auth_obj in obj.authors.all %} {{auth_obj}}; {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td>Издательство:</td>
                                        <td>{% for pub_obj in obj.publishing.all %} {{pub_obj}} {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td>Жанр:</td>
                                        <td>{% for genre_obj in obj.genre.all %} {{genre_obj}}; {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td>Серия</td>
                                        <td>{% for serie_obj in obj.serie.all %} {{serie_obj}}; {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td>Год издания</td>
                                        <td>{{ obj.year_of_publishing }}</td>
                                    </tr>
                                    <tr>
                                        <td>Страниц</td>
                                        <td>{{ obj.pages }}</td>
                                    </tr>
                                    <tr>
                                        <td>Переплет</td>
                                        <td>{{ obj.cover }}</td>
                                    </tr>
                                    <tr>
                                        <td>Формат</td>
                                        <td>{{ obj.format }}</td>
                                    </tr>
                                    <tr>
                                        <td>ISBN</td>
                                        <td>{{ obj.isbn }}</td>
                                    </tr>
                                    <tr>
                                        <td>Вес (гр)</td>
                                        <td>{{ obj.weight }}</td>
                                    </tr>
                                    <tr>
                                        <td>Возрастные ограничения</td>
                                        <td>{{ obj.age_restrictions }}</td>
                                    </tr>
                                    <tr>
                                        <td>Доступен для заказа</td>
                                        <td>{% if obj.active %}ДА{% else %}НЕТ{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td>Рейтинг</td>
                                        <td><i class="bi bi-star text-warning"></i>{{ obj.rating }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата внесения в каталог</td>
                                        <td>{{ obj.date_entered_catalog|date:'d-m-Y' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата последнего изменения карточки</td>
                                        <td>{{ obj.updated_date|date:'d-m-Y' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Количество книг в наличии</td>
                                        <td>{{ obj.availability }}</td>
                                    </tr>
                                    <tr>
                                        <td>Цена (BYN)</td>
                                        <td>{{ obj.price }}</td>
                                    </tr>
                                </table>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</div>
<div class="d-flex justify-content-center">
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; В начало</a>
        <a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-left"></i></a>
        {% endif %}

        <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-right"></i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock content %}