{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Купить книгу {{ object.name }}{% endblock title %}
{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <img style="width: 100%;" src="{{ object.picture.url }}" alt="{{ object.picture }}">
            {% if object.active %}

            <form action="{% url 'app_orders:cart' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">В корзину: {{ object.price }} руб.</button>
            <input type="number" name="quantity" value="1" step="1" min="1" max="{{ object.availability }}">
            <input type="hidden" name="book_pk" value="{{ object.pk }}">
            </form>

            <p style="color: grey;">В наличии {{ object.availability }} шт.</p>
            {% else %}<a style="margin-top: 5%;" class="btn btn-danger" href="#" role="button">Нет в наличии</a>
            {% endif %}
        </div>
        <div style="overflow: auto; height: 400px;" class="col-9">
            <h1>{{ object.name }}</h1>
            <p>{{ object.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <td>Авторы:</td>
                    <td>{% for auth_obj in object.authors.all %} {{auth_obj}}; {% endfor %}</td>
                </tr>
                <tr>
                    <td>Издательство:</td>
                    <td>{% for pub_obj in object.publishing.all %} {{pub_obj}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Жанр:</td>
                    <td>{{ object.genre.get }};</td>
                </tr>
                <tr>
                    <td>Серия</td>
                    <td>{{ object.serie.get }};</td>
                </tr>
                <tr>
                    <td>Год издания</td>
                    <td>{{ object.year_of_publishing }}</td>
                </tr>
                <tr>
                    <td>Страниц</td>
                    <td>{{ object.pages }}</td>
                </tr>
                <tr>
                    <td>Переплет</td>
                    <td>{{ object.cover }}</td>
                </tr>
                <tr>
                    <td>Формат</td>
                    <td>{{ object.format }}</td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>{{ object.isbn }}</td>
                </tr>
                <tr>
                    <td>Вес (гр)</td>
                    <td>{{ object.weight }}</td>
                </tr>
                <tr>
                    <td>Возрастные ограничения</td>
                    <td>{{ object.age_restrictions }}</td>
                </tr>
                {% if object.bookcomments.all %}
                <tr>
                    <td>Рейтинг</td>
                    <td><i class="bi bi-star text-warning"></i>{{ object.rating_average }}</td>
                </tr>
                {% endif %}
            </table>    
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="max-height: 10%;">
            <h3>Комментарии</h3>
            {% for comment in object.bookcomments.all %}
            <hr>
            <div>
                <h6 style="background-color: rgb(172, 171, 171);">{{ comment.user.username }} <i class="bi bi-star text-warning"></i>{{ comment.rate }}<p class="text-right">{{ comment.created_date }}</p></h6>
                <p style="background-color: gainsboro;">{{ comment.comment }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-1"></div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-5" style="max-height: 10%;">
            <h3>Оставить комментарий</h3>
            <form action="{% url 'app_product_books:bookcomments-create' pk=object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ book_comments_form|crispy }}
                <input type="submit" class="btn btn-warning" value="Оставить комментарий">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    {% endif %}
</div>
{% endblock body %}