{% extends "base.html" %}
{% block title %}Смена пароля{% endblock title %}
{% load crispy_forms_tags %}
{% block style %}
{% endblock style %}

{% block body %}
<div class="row">
    <div class="col-xl-3 col-2 col-sm-4"></div>
    <div class="col-xl-6 col-8 col-sm-4" style="margin-top: 30px;">
        
        <h2>Изменение пароля</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Обновить">
        </form>
    </div>
    <div class="col-xl-3 col-2 col-sm-4"></div>
</div>
{% endblock %}