{% extends "base.html" %}
{% block title %}Смена пароля{% endblock title %}
{% block style %}
<style>
    h1{
        color: green;
    }
</style>
{% endblock style %}

{% block body %}
<div class="row">
    <div class="col-xl-3 col-2 col-sm-4"></div>
    <div class="col-xl-6 col-8 col-sm-4" style="margin-top: 30px;">
        <h1 class="text-center">Ваш пароль успешно изменен!</h1>
        <div class="text-center">
            <a href="{% url 'home_page' %}" class="btn btn-success mt-4">Перейти к покупкам</a>
            <a href="{% url 'app_admin_portal:admin-portal' %}" class="btn btn-warning mt-4">Перейти в профиль</a>
        </div>
    </div>
    
    <div class="col-xl-3 col-2 col-sm-4"></div>
</div>
{% endblock %}